<!doctype html>

<html>

    <head>
        <meta charset="utf-8">
        <title>{{ pagetitle or "Test" }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" media="screen">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/yololists.css') }}" media="screen">
    </head>
    <body>
        {% block content %}
        {% endblock %}

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/yololists.js') }}"></script>
    </body>
</html>
